:root {
    --main-font-family: "Abhaya Libre", "Times New Roman", serif;
    --main-font-size: 20px;
    --main-line-height: 30px;
    --main-libre-weight: 700;
    --main-font-weight: 500;
    --main-text-color:  #2e2e2e;
    --main-secondary-color: #3f3232;
}